<%= render "projects/header" %>
<%= render "projects/error_flash" %>
<div class="container-fliid d-flex h_calc100vh-40px">
  <%# プロジェクト一覧 %>
  <%= render "projects/side_bar"%>
  <%# タスク一覧 %>
  <%= render "projects/middle_ber", project: @project, tasks: @tasks %>
  <%# コメント画面 %>
  <div class="col-7 p-0 bg-eee"> 
    <div class="mx-2 my-2 border bg-white d-flex justify-content-between">
      <div class="w-75">
        <div class="m-1"><%= @task.name %></div><%# タスク名 %>
        <div class="h50px m-1 overflow-auto"><%= @task.specifics %></div><%# タスク詳細 %>
      </div>
      <div class="d-flex flex-column justify-content-around w-25">
        <%# タスク用ドロップボタン %>
        <div class="align-self-center mx-auto doropdown btn-sm btn-secondary text-light w-75 text-center">
          <div class="dropdown cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdowntask"> 
            編集
          </div>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-item cursor-pointer f-size14 px-1" data-toggle="modal" data-target="#modal_t2">
              タスク名を変更する
            </div>
            <div class="dropdown-item cursor-pointer f-size14 px-1" data-toggle="modal" data-target="#modal_t4">
              タスクを削除する
            </div>
          </div>
        </div>
        <%# ドロップボタンここまで %>
        <div class="cursor-pointer f-size14 mx-auto p-1 btn-sm btn-primary text-light w-75 text-center" data-toggle="modal" data-target="#modal_c1">
          コメント追加
        </div>
      </div>
    </div>
    <%# コメント一覧 %>
    <div class="overflow-auto w-100">
      <% @comments.each do |comment| %>
        <div class="bg-white m-2">
          <div class="d-flex justify-content-between">
            <p class="mb-1 mx-3"><%= comment.user.name%></p>
            <div class="f-size12">
              <span class="mr-3 cursor-pointer" data-toggle="modal" data-target="#modal_ce<%= comment.id %>" >編集</span>
              <span class="mr-3 cursor-pointer" data-toggle="modal" data-target="#modal_cd<%= comment.id %>">削除</span>
            </div>
          </div>
          <div class="overflow-auto mh70px mx-2">
            <%= comment.comment %>
          </div>
          <div>
            <p class="mb-1 f-size12 text-right text-black-50"><%= "最終更新#{comment.updated_at.strftime("%Y-%m-%d %H:%M")}"%></p>
          </div>
        </div>
        <%# コメント編集用 %>
        <div class="modal fade" id="modal_ce<%= comment.id %>">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="text-center">
                <div class="border-bottom my-2 pb-1">
                  <%= comment.comment %>を変更します。
                </div>
                <%= form_with model: @comment, url:project_task_comment_path(@project.id,@task.id,comment.id),method: :patch, local: true do |f| %>
                  <%= f.text_area :comment, class: "outline w-75 my-1",value: comment.comment, placeholder:"コメント内容"%>
                  <div class="d-flex justify-content-center my-2">
                    <%= f.submit "編集する" %>
                    <div class="btn-sm btn-secondary ml-4 cursor-pointer" data-dismiss="modal">
                    キャンセル</div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <%# ここまで %>
        <%# コメント削除用 %>
        <div class="modal fade" id="modal_cd<%=comment.id%>">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="text-center border-bottom my-2 text-danger">
                <p class="mb-1">コメント：<%= comment.comment %>を削除します。</p>
                <p class="mb-1">本当によろしいですか。</p>
              </div>
              <div class="d-flex justify-content-center mb-2">
                <%= link_to "削除する", project_task_comment_path(@project.id,@task.id,comment.id), method: :delete, class:"btn-sm btn-danger px-2 mr-4 cursor-pointer" %>
                <div class="btn-sm btn-secondary ml-4 cursor-pointer" data-dismiss="modal">
                キャンセル</div>
              </div>
            </div>
          </div>
        </div>
        <%# コメント削除ここまで %>
      <% end %>
    </div>
  </div>
  <%# コメント画面ここまで %>
</div>

<%# モーダル %>
<%# タスク編集用 %>
<div class="modal fade" id="modal_t2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="text-center">
        <div class="border-bottom my-2 pb-1">
          <%= @task.name %>を変更します。
        </div>
        <%= form_with model: @task, url:project_task_path(@project.id,@task.id), local: true do |f| %>
          <%= f.text_field :name, class: "outline w-75 my-1", placeholder:"タスクネーム"%>
          <%= f.text_area :specifics, class: "outline w-75 my-1", placeholder:"タスク詳細（任意）"%>
          <div class="d-flex justify-content-center my-2">
            <%= f.submit "編集する" %>
            <div class="btn-sm btn-secondary ml-4 cursor-pointer" data-dismiss="modal">
            キャンセル</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# タスク削除用 %>
<div class="modal fade" id="modal_t4">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="text-center border-bottom my-2 text-danger">
        <p class="mb-1">タスク：<%= @task.name %>を削除します。</p>
        <p class="mb-1">本当によろしいですか。</p>
      </div>
      <div class="d-flex justify-content-center mb-2">
        <%= link_to "削除する", project_task_path(@project.id,@task.id), method: :delete, class:"btn-sm btn-danger px-2 mr-4 cursor-pointer" %>
        <div class="btn-sm btn-secondary ml-4 cursor-pointer" data-dismiss="modal">
        キャンセル</div>
      </div>
    </div>
  </div>
</div>
<%# コメント追加用 %>
<div class="modal fade" id="modal_c1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="text-center">
        <div class="border-bottom my-2 pb-1">
          新しいコメントを追加します。
        </div>
        <%= form_with model: @comment, url:project_task_comments_path(@project.id,@task.id), local: true do |f| %>
          <%= f.text_area :comment, class: "outline w-75 my-1", placeholder:"進捗状況などを記入してください。"%>
          <div class="d-flex justify-content-center my-2">
            <%= f.submit "コメント追加" %>
            <div class="btn-sm btn-secondary ml-4 cursor-pointer" data-dismiss="modal">
            キャンセル</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>