<h2><%= "#{@project.name}にメンバーを追加する。" %></h2>
<%= form_with model: @user_project, url:project_user_projects_path(@project.id), local: true do |f| %>
  <div class="field" >
    <%= f.label :追加したいメンバーのメールアドレスを入力してください %><br />
    <%= f.text_field :email %>
  </div>
  <%= f.submit "メンバーを追加する"%>
<% end %>
<%= link_to "戻る",project_tasks_path(@project.id) %>