<div class="col-3 p-0 bg-darkgray text-white">
  <%# メンバー一覧 %>
  <% if tasks %>
    <div class="h50px d-flex flex-column justify-content-between">
      <div class="d-flex">
        <div><%= "参加メンバー#{project.users.count}人" %>
          <%= link_to "+", new_project_user_project_path(project.id), class: "text-reset"%>
        </div>
        <ul class="d-flex overflow-x w-75 white-space p-0 m-0">
          <li class="mx-1 f-size12 ">
          <%= project.users.map(&:name).join("") %></li>
        </ul>
      </div>
    </div>
    <%# メンバー一覧ここまで %>
    <%# タスク一覧 %>
    <div class="overflow-auto h_calc100vh-50px">
    <%= link_to "タスク追加", new_project_task_path(project.id), class: "text-reset" %>
      <% tasks.each do |task| %>
        <div class="d-flex justify-content-between py-1 m-2">
          <%= link_to task.name, project_task_comments_path(project.id,task.id), class: "text-reset py-2 my-auto mx-1" %>
          <div class="d-flex align-items-center px-2">
            <a href="#" class="f-size12 text-reset p-1 mx-1">
            編集</a>
            <%=link_to "削除",project_task_path(project.id,task.id), method: :delete, class: "f-size12 text-reset p-1 mx-1" %>
          </div>
        </div>
      <% end %>
    </div>
      <%# タスク一覧ここまで %>
  <%end%>
</div>