<div class="col-3 p-0 bg-darkgray text-white">
  <div class="bg-white text-dark border m-2">
    <div class="d-flex justify-content-between">
      <div class="ml-1 w-75"><%= project.name %></div>
      <%# 編集ボタン %>
      <div class="dropdown">
        <div class="mr-1 dropdown cursor-pointer btn-sm btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          編集
        </div>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-item cursor-pointer f-size14 px-1" data-toggle="modal" data-target="#modal_p2">
            プロジェクト名を変更する
          </div>
          <div class="dropdown-item cursor-pointer f-size14 px-1" data-toggle="modal" data-target="#modal_p3">
            メンバーを追加する
          </div>
          <div class="dropdown-item cursor-pointer f-size14 px-1" data-toggle="modal" data-target="#modal_p4">
            プロジェクトを削除する
          </div>
        </div>
      </div>
    </div>
    <%# 編集ボタンここまで %>
    <%# メンバー一覧 %>
    <div class="h50px">
      <div class="d-flex f-size14">
        <%= "メンバー#{project.users.count}人" %>
        <ul class="d-flex overflow-auto w-50 white-space p-0 m-0">
          <li class="mx-1 f-size12 ">
          <%= project.users.map(&:name).join("") %></li>
        </ul>
      </div>
      <%# メンバー一覧ここまで %>
      <span class="btn-sm btn-primary cursor-pointer ml-1" data-toggle="modal" data-target="#modal_t1">
        タスク追加
      </span>
    </div>
  </div>
  <%# タスク一覧表示 %>
  <div class="overflow-auto">
    <% tasks.each do |task| %>
      <div class="d-flex justify-content-between py-1 m-2">
        <%= link_to task.name, project_task_comments_path(project.id,task.id), class: "text-reset py-2 my-auto mx-1" %>
      </div>
    <% end %>
  </div>
  <%# タスク一覧ここまで %>
</div>

<%# モーダル %>
<%# プロジェクト編集画面 %>
<div class="modal fade" id="modal_p2">
  <div class="modal-dialog">
    <div class="modal-content">
      <%# <div class="text-center"> %>
        <div class="text-center border-bottom my-2 pb-1">
          <%= project.name %>を変更します。
        </div>
        <%= form_with model: @project, url:project_path(@project.id), class:"text-center", local: true do |f| %>
          <%= f.text_field :name, class: "outline w-75 my-1", placeholder:"タスクネーム"%>
          <div class="d-flex justify-content-center my-2">
            <%= f.submit "編集する" %>
            <div class="btn-sm bg-secondary text-white ml-4 cursor-pointer" data-dismiss="modal">
            キャンセル</div>
          </div>
        <% end %>
      <%# </div> %>
    </div>
  </div>
</div>
<%# プロジェクト削除用 %>
<div class="modal fade" id="modal_p4">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="text-center border-bottom my-2 text-danger">
        <p class="mb-1">プロジェクト：<%= project.name %>を削除します。</p>
        <p class="mb-1">本当によろしいですか。</p>
      </div>
      <div class="d-flex justify-content-center mb-2">
        <%= link_to "削除する", project_path(project.id), method: :delete, class:"btn-sm btn-danger px-2 mr-4 cursor-pointer" %>
        <div class="btn-sm bg-secondary text-white ml-4 cursor-pointer" data-dismiss="modal">
        キャンセル</div>
      </div>
    </div>
  </div>
</div>
<%# メンバー追加用 %>
<div class="modal fade" id="modal_p3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="text-center my-2">
        <%= "#{project.name}のメンバーを追加します。" %>
      </div>
      <%= form_with model: @user_project, url: project_user_projects_path(project.id), class:"text-center", local: true do |f| %>
        <%= f.text_field :email, placeholder:"追加メンバーのemail", class:"w-75" %>
        <div class="d-flex justify-content-center my-2">
          <%= f.submit "招待" %>
          <div class="btn-sm bg-secondary text-white ml-4 cursor-pointer" data-dismiss="modal">
          キャンセル</div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# タスク追加 %>
<div class="modal fade" id="modal_t1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="text-center my-2">
        新しいタスクを作成します
      </div>
      <%= form_with model: @newtask, url: project_tasks_path(project.id), class:"text-center", local: true do |f| %>
        <%= f.text_field :name, class: "outline mb-2 w-75", placeholder:"タスクネーム" %>
        <%= f.text_area :specifics, class:"outline w-75", placeholder:"タスクの詳細" %>
        <div class="d-flex justify-content-center my-2">
          <%= f.submit "タスク作成" %>
          <div class="btn-sm bg-secondary text-white ml-4 cursor-pointer" data-dismiss="modal">
          キャンセル</div>
        </div>
      <% end %>
    </div>
  </div>
</div>