<div class="col-3 p-0 vh-100">
  <div class="px-1 border-bottom border-right h90px d-flex justify-content-between">
    <a href="#" class="text-reset align-self-center"><%=current_user.name%></a>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete ,:class =>"text-reset align-self-center" %>
    <%= link_to "newプロジェクト", new_project_path, :class => "text-reset align-self-center" %>
  </div>
  <div class="overflow-auto h_calc100vh-90px border-right">
    <% 20.times do |i| %>
    <div class="d-flex justify-content-between py-2">
      <a href="#" class="text-reset align-text-center py-1 my-auto mx-1">
      <%= "プロジェクト#{i+1}"%></a>
      <div class="d-flex align-items-center">
        <a href="#" class="f-size12 text-reset py-1 mx-1">編集</a>
        <%=link_to "削除","#", :class => "f-size12 text-reset py-1 mx-1" %>
      </div>
    </div>
    <% end %>
  </div>
</div>