<h2>新規プロジェクト作成</h2>
<%= form_with model: @project, local: true do |f| %>
  <div class="field">
    <%= f.label :プロジェクト名 %><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :プロジェクトメンバーを入力してください %><br />
    <%= f.text_field :member_name %>
  </div>
  <input name="project[user_ids][]" type="hidden" value=<%= current_user.id%>>
  <%= f.submit %>
<% end %>
<%= link_to "戻る",root_path %>