<%= javascript_include_tag "/assets/addform.js", "data-turbolinks-eval" => false  %>
<h2>新規プロジェクト作成</h2>
<% if flash[:error] %>
  <ul>
    <% flash[:error].each do |message| %>
      <li class='error-message'><%= message %></li> 
    <% end %>
  </ul>
<% end %>
<%= form_with model: @project, local: true do |f| %>
  <div class="field">
    <%= f.label :プロジェクト名 %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :メンバーのメールアドレスを入力してください %><br />
    <div class ="form my-1" id = "form[0]">
      <input name="project[emails][]" id = "input">
    </div>
    <span class="border width-150 text-center cursor-pointer my-2" id="add_btn">入力欄を追加する</span>
    <span class="border width-150 text-center cursor-pointer d-none my-2" id="close_btn">入力欄を削除する</span>
  </div>
  <input name="project[user_ids][]" type="hidden" value=<%= current_user.id%> >
  <%= f.submit "プロジェクト作成", class: "my-1" %>
<% end %>
<%= link_to "戻る",root_path %>