<div class="container-fliid d-flex">

  <%= render "side_bar"%>

  <div class="col-9 p-0">
    <div class="h90px d-flex flex-column justify-content-between border-bottom">
      <div class="d-flex align-items-center">
        <h2 class="mr-2"><%= @project.name %></h2>
        <%= link_to "メンバー追加", new_project_user_project_path(@project.id), :class=> "text-reset align-text-center" %>
        <%= link_to "タスク追加",  new_project_task_path(@project.id), :class=> "ml-2 text-reset align-text-center" %>
      </div>
      <div class="d-flex">
        <div><%= "参加メンバー#{@project.users.count}人" %></div>
        <ul class="d-flex overflow-x w-75 white-space p-0 m-0">
            <li class="py-1 mx-1 f-size12 ">
            <%= @project.users.map(&:name).join("") %></li>
        </ul>
      </div>
    </div>
    <div class="overflow-auto h_calc100vh-90px">
      <% @tasks.each do |task| %>
        <div class="d-flex justify-content-between border py-1 m-2">
            <%= link_to task.name ,project_task_path(@project.id,task.id), :class => "text-reset py-2 my-auto mx-1"%>
            <%# <p class="my-auto">最終コメント</p> %>
          <div class="d-flex align-items-center px-2">
            <a href="#" class="f-size12 text-reset p-1 mx-1">
            編集</a>
            <%=link_to "削除","#", :class => "f-size12 text-reset p-1 mx-1" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>